*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    position: relative;
    font-family: 'poppins', sans-serif;
}

::selection{
    background: #1b1b1b;
    color: #fff;
}

.navbar{
    width: 100%;
    height: 30px;
    background-color: rgb(38, 0, 255);
    /* position: fixed;
    top: 0;
    left: 0; */
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    background: #fff; */
    /* z-index: 9; */
}
.logo{
    width: 100%;
    height: 50%;
    
}

.links-container{
    display: flex;
    list-style: none;
}

.navbar>.links-container>li>a :hover, .links-container>li>a:active {
    background-color: rgb(199, 16, 107);
  }

.link{
    padding: 10px;
    margin-left: 10px;
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
}
.header{
    margin-top:2px;
    width: 100%;
    height: calc(80vh - 60px);
    background: url(header.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    text-align: center;
}

.heading{
    color: #fff;
    text-transform: capitalize;
    font-size: 80px;
    line-height: 60px;
    margin-bottom: 80px;
}

.heading .small{
    display: block;
    font-size: 40px;
}

.heading .no-fill{
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
}

.btn{
    padding: 10px 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
}
.blogs-section{
    width: 100%;
    height: 50%;
    padding: 50px 5vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px;
    
}
.blogs-section>.blog_card>img{
    
    border: 6px solid red;
}

.blog-image{
    width: 65%;
    height: 90px;
    object-fit: cover;
    border-color:coral;
    border-radius: 15px;
    margin-bottom: 10px;
    
}

.blog-overview{
    margin: 10px 0 20px;
    line-height: 30px;
}

.btn_dark:link, .btn_dark:visited {
    background-color: #9ebde7;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .btn_dark:hover, .btn_dark:active {
    background-color: rgb(135, 179, 153);
  }